.wrap_list {
    box-sizing: border-box;
    padding: 0 16px;
    padding-bottom: 50px;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

@media screen and (min-width: 965px) and (max-width: 1615px) {
  .wrap_list {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 540px) and (max-width:964px) {
  .wrap_list {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 539px) {
  .wrap_list {
    grid-template-columns: auto;
  }
}